apiVersion: v1
kind: Service
metadata:
  name: {{ template "better-db.fullname" . }}
  labels:
    this: is-not
    app: {{ template "better-db.name" . }}
    chart: {{ template "better-db.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 8443
      targetPort: 8443
      protocol: TCP
      name: tls-port
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http-port
  selector:
    app: {{ template "better-db.name" . }}
    release: {{ .Release.Name }}
